@import '../../../../variables.scss';

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
  }

.button {
    background-color: var(--button-bg);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  
    // &:hover {
    //   background-color: var(--button-bg-hover);
    // }
  
  }
  

.draft-transaction-item {
    color: var(--color);
    background-color: var(--bg);
    margin: 10px !important;
    padding: 10px !important;
    border-radius: 5px; 

    @media (max-width: 768px) {
        padding: 8px !important;
    }
}

.transaction-name {
   color: var(--color) !important;
   font-size: 12px;
   margin-bottom: 5px;
}


.transaction-review-data {
    color: var(--color);
    background-color: var(--bg);
    border: 1px solid var(--border-color);
    padding: 10px !important;
    border-radius: 5px; 
    

    @media (max-width: 768px) {
        padding: 8px !important;
    }
}


.status-drafted {
    color: orange; 
}

.status-signed {
    color: green; 
}


h2 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--color) !important;
}


.reviewer-json-style {
    width: 100%;
    height: 400px; /* or whatever height you prefer */
    background-color: #f6f6f6;
    color: #000000;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;

    .reviewer-font {
        font-family: 'Courier New', Courier, monospace !important;
    
    }
}

.result-textarea {
    width: 100%;
    height: 200px; /* or whatever height you prefer */
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
  }