.result-textarea {
    // width: 100%;
    // height: 200px; /* or whatever height you prefer */
    font-family: 'Courier New', Courier, monospace;
    background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
  }
  

  .refresh-button:hover {
    background-color: #ffffff;
    cursor: pointer;
    border-color: #cccccc00;
}

.tx-area {
    
  
    // background-color: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 3px;
}


.eventSigningNotification {
  

  color: rgb(15, 15, 15);
 
  padding: 10px;

  cursor: pointer;
  z-index: 1000 !important; // Ensure it appears above other node elements
}

//border-slate-500 p-2 rounded
.transactionDetails {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333;
    margin: 5px;
    box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chain-tx-container {
  // resizable container only sideways 
  resize: both;
  overflow: auto;
  max-width: none;     
  min-width: 350px;
  border: 1px solid #ccc;
  background: white; 
  outline: 10px solid transparent; /* Added transparency for outline for consistency */
  border: 5px solid #ffffff;
  padding-bottom: 10px;
  // a box shadow bottom right
  box-shadow: 5px 5px 5px #ccccccca;
  max-height: 1000px;
}