@import '../../variables.scss';



.toast-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #f7f7f7;  /* A light background color */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* A subtle shadow for the toast */
    color: var(--color);
    background: var(--bg);
    height: auto;
}

.toast-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.toast-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.toast-content {
    display: flex;
    align-items: center;
}