@import "../../variables";
  
  .lab-container {
     padding: 20px;
     flex-grow: 1; /* Takes up the available space */
     width: 100%;
     overflow-y: auto;
     height: 90%
   }
  
  .lab-top-bar {
    display: flex;
    justify-content: space-between;
    background-color: #f3f4f6;
    padding: 10px;
  }
  
  .create-scenario-button {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }

  .scenario-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding: 15px 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    
    // Original size (you can adjust if necessary)
    transform: scale(1);
  
    &:hover {
      transform: scale(1.02);
      background-color: var(--bg);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
  }
  

  .scenario-card .scenario-name {
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    font-size: larger;
    width: 30em;
    text-decoration: underline;
    margin-right: 10px;
}

.scenario-card .scenario-id {
  font-size: smaller;
  color: #757575;
  width: 25em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 10px;
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 768px) {
  .scenario-card .scenario-id {
    width: 10em;
  }
}

@media screen {
  
}
.scenario-card .scenario-name:hover {
    text-decoration: underline dotted;
}

  .scenario-title {
    flex: 1;
    text-align: left;
  }
  
  .scenario-details {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px; /* Adjust the gap as needed */
  }
  
  .scenario-header {
    cursor: pointer;
  }
  
  .execution-panel {
    margin-top: 10px;
  }
  
  .execution-item {
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
  }

  .execution-container {
    padding: 20px;

  }
  
  .empty-state {
    text-align: center;
    margin-top: 20px;
  }

  .close-button-right {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 5px;
    cursor: pointer;
   
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
  .scenario-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .scenario-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button-container {
    text-align: right;
  }

  .scenario-container {
    padding: 2rem;
    overflow-y: auto;
    height: 100%
  }
  

  h1 {
    margin-bottom: 1rem;
  }
  
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .executions-table {
    width: 100%;
    border-collapse: collapse;
    
    th, td {
      border: 1px solid #ccc;
      padding: 0.5rem;
      text-align: left;
    }
    
    th {
      background-color: white;
      color: rgb(0, 0, 0);
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }

  .scenario-container {
    // Other styles for scenario-container
    
  
    .execution-section {
      // Styles for each execution section
      margin-bottom: 20px; // Example spacing
  
      .dropdown-button {
        // Styles for the dropdown button
      }
  
      .node-table {
        width: 100%; // Make table stretch the full width
        border-collapse: collapse; // Optional: for styling
  
        th, td {
          border: 1px solid #ddd; // Optional: for styling
          padding: 8px; // Optional: for styling
        }
  
        th {
          background-color: #f2f2f2; // Optional: header background
          text-align: left; // Optional: align header text
        }
  
        .node-execution-details-row {
          td {
            padding: 0; // Removes padding for the detail row's cell
          }
  
          .node-execution-details {
            // Styles for the execution details container
            padding: 10px; // Adds padding within the details container
            // More styling for the execution details as needed
          }
        }
      }
  
      .node-detail-toggle {
        // Styles for the toggle button
      }
    }
  }
  