.top-bar {
    display:flex;
    position: absolute;
    top: 15px;
    right: 15px;
    justify-content: space-between;
    gap: 5px;
    background: #fff !important;
    padding: 10px;
    box-shadow: 10px 10px 10px 10px #b9b9b94f;
    border-radius: 10px;
}


