@import '../../../variables.scss';

.wallet-info-page {
  padding: 50px 8px;
}

.wallet-info-page__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  padding-bottom: 16px;
}

.wallet-logo {
  margin-right: 8px;
  height: 40px !important;
}

.wallet-title {
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
}

.wallet-info-page__account-list {
  margin-top: 26px;
}

.builder-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: $lighter-primary-color;
  color: white;
  text-decoration: none;
  border-radius: 7px;
}

.builder-btn .icon-and-text {
  display: flex; /* Ensures contents are laid out horizontally */
  align-items: center; /* Aligns items vertically in the center */
}

.builder-btn .icon-and-text > * {
  margin-right: 8px; /* Adds space between the icon and the text */
}

.builder-btn:hover {
  background-color: #0056b3;
}
