.wallet-info-page {
  padding: 50px 8px;
}

.wallet-info-page__text {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  padding-bottom: 16px;
}

.wallet-logo {
  margin-right: 8px;
  height: 40px !important;
}

.wallet-title {
  padding-left: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}
