@import '../../../variables.scss';

.wallet-info-page {
  padding: 50px 8px;
  width: 50%;
  min-width: 300px;
  height: 100%;
}

.wallet-info-page__text {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 16px;
}

.wallet-logo {
  margin-right: 8px;
  height: 40px !important;
}

.wallet-logo-small {
  margin-right: 4px;
  margin-left: 4px; 
  height: 18px !important;
}

.wallet-title {
  padding-left: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
}

.wallet-info-page__account-list {
  margin-top: 26px;
}

.builder-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: $lighter-primary-color;
  color: white;
  text-decoration: none;
  border-radius: 7px;

  &:hover {
    background-color: $primary-color;
    color: white;
  }

 
}

.builder-btn .icon-and-text {
  display: flex; /* Ensures contents are laid out horizontally */
  align-items: center; /* Aligns items vertically in the center */
}

.builder-btn .icon-and-text > * {
  margin-right: 8px; 
}


.builder-btn {
  margin-right: 8px;
}

.connected {
  color: rgb(0, 163, 0);
  margin-left: 4px;
  margin-right: 4px;
}


.boxed-container {
  width: 100%;
  min-width: 300px;
  height: 100%;
  overflow: scroll;
}

.connected-box {
  padding: 16px;
  margin-bottom: 16px;
  border: 2px dashed #b5b5b5;
  border-radius: 10px;
}

.wallet-summary {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #c5c5c5;
  border-radius: 8px;
  overflow: hidden;
}

.wallet-details {
  // make this sit on the right side of the page we want the text underneath to wrap around it
  

}