@import '../../../variables.scss';

.blinkTitleInfo {
  display: flex;
  align-items: left;
  // we want items to be stacked under each other
  flex-direction: column;
  // background: rgb(229, 229, 229);
  padding: 20px;

  h1 {
    font-size:32px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
  }

  span {
    margin-left: 2px;
    color: grey
  }


}




.blinkMainContainer {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.067);
    // the background is a local file that is a noise texture noiserectangle.png
    background-image: url('./noiserectangle.png');
    padding-bottom: 50px;
}

.blinkMiniAppContainer {
  height: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0);
  // the background is a local file that is a noise texture noiserectangle.png
  // padding-bottom: 50px;
  // the contents of this container should be on top of each other
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  align-self: center;

  .share-blink {
    font-size: 12px;
    color: rgb(255, 255, 255) !important;
    margin-top: 10px;
    font-weight: 300 !important;
    background: rgb(209, 209, 209);
    padding: 5px;
    border-radius: 7px;
    display: flex;
    box-shadow: 0 4px 8px rgba(148, 148, 148, 0.1);
  
    float: center;
    margin: auto;
    margin-bottom: 20px;
    position: relative;

        //hover 
        &:hover {
          background: rgb(229, 229, 229);
        }
       

    .share-button {
      display: flex;
     
     
      cursor: pointer;
      border: 0px;
      outline: 0px;
      background: none !important;
      border: none !important;
      width: 100px !important;
    color: rgb(35, 35, 35);


      
    }
    // flex-column
    
  }
  
}

label {
  color: rgb(104, 104, 104)
}

.blinkBuilder {
    // display: flex;
    // justify-content: space-around;
    // align-items: flex-start;
    height: 100%;
    // padding: 20px;
    width: 40%;


    .collapsibleField {
      border-radius: 20px !important;
    }

    .creator-field {
      padding: 16px;
      margin-top: 10px;
      border: 1px dashed #ccc;
      border-radius: 10px;
    }



  .blinkForm {
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 400px;
    padding: 20px;
    // margin: 7px;
    margin-left: 0px;
    // border: 1px solid #ccc;
    // border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background: white;
    // width: 300px;

    display: flex;
    flex-direction: column;
    width: 400px;
    // border: 1px solid #ccc;
    // box-shadow: 0 4px 8px rgba(0,0,0,0.1);



    h2 {
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      min-width: 120px;
      align-items: center;
    }

    input, textarea {
      padding: 8px;
      margin: 5px 0 20px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 100%;
      font-weight: normal;
    }

    textarea {
      height: 100px;
    }


    .actionArea {
      padding: 20px;
      margin: 10px;
      margin-top: 30px;
      border: 1px dashed #ccc;
      border-radius: 10px;
    }

  .actionBox {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: left;
    width: 200px;
    padding: 12px;
    margin: 7px;
    margin: 15px 0 0 0;
    // lets make the border dashed but more spaced dots
    border: 1px dashed #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;

  .typeBox {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 250px;
    padding: 7px;
    margin: 7px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 17px;
    // box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .actionRow {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; 
  }

}



    h2 {
      text-align: center;
    }

    // button {
    //   padding: 8px 16px;
    //   margin: 10px 0;
    //   border-radius: 5px;
    //   background: #007bff;
    //   color: white;
    //   border: none;
    //   cursor: pointer;

    //   &:hover {
    //     background: darken(#007bff, 10%);
    //   }
    // }

    .add-button, .remove-button {
    
      width: 30px;
      padding: 3px;
      background: rgb(39, 39, 254);
      color: white;
      font-weight: 700;
      margin-right: 5px;
      border-radius: 100%;
      align-items: center;
      text-align: center;
      
  }

  .remove-button {
    background: rgb(254, 39, 39);
  }
  }

  form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    // border: 1px solid #ccc;
    border-radius: 10px;
    // box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    h2 {
      text-align: center;
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      min-width: 120px;
      align-items: center;
    }

    input, textarea {
      padding: 8px;
      margin: 5px 0 20px;
      border-radius: 5px;
      border: 1px solid #ccc;
      width: 100%;
      font-weight: normal;
    }

    textarea {
      height: 100px;
    }

    // button {
    //   align-items: center !important;
    // }
    //   padding: 8px 16px;
    //   margin: 10px 0;
    //   border-radius: 5px;
    //   background: #28a745;
    //   color: white;
    //   border: none;
    //   cursor: pointer;

    //   &:hover {
    //     background: darken(#28a745, 10%);
    //   }
    // }

    
  }
}

.actionSelect {
  display: flex;
  flex-direction: column;
  align-items: left;
  // width: 200px;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 7px;
  font-weight: normal;
  width: 100%;
}


.viewerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  outline: 2px dashed rgb(105, 255, 125);
  border-radius: 0px;
  background: rgb(0, 0, 0) ;
  max-width: 500px;
  // margin: 0 auto;


  .cutOutLabel {
    // font-mono text-sm align-left m-0 we want mono (not inter) font and small text, and a background and we want to shift it up so it looks like its over the cut out. 
    font-family: monospace, 'Inter', sans-serif;
    font-size: 12px;

    color: rgb(105, 255, 125) !important;
    margin-top: -15px;
    font-weight: 500 !important;
    background: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;


  }

  .visibleApp {
    padding-bottom: 10px;
  }

.blinkViewer {
  font-family: 'Inter', sans-serif;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  max-width: 480px; // Fixed width similar to an embedded Twitter card
  min-width: 460px; // Minimum width to prevent the card from shrinking too much
  min-height: auto;
  box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.305); // Adding some shadow for depth
  background: #fff; // Assuming a light mode card, set a white background
  // font-family: Inter,Roboto,Helvetica,sans-serif; 
  // ok we want the position of the viewer to always be floating on the right side and centered vertically
  // position: absolute;
  // top: 10%;
  // right: 200px;
  //  margin: auto;
  //  overflow: scroll;
;
   

   h1 {
    margin-top: 10px;
    font-size:large;
    font-weight: bold;
    margin-bottom: 0px;
   }

   p {
    margin-top: 0px;
    font-size:normal;
    font-weight: normal;
   }
  h2 {
    margin-top: 0;
  }

  .blink-icon {
    max-width: 100%; // Ensure the image does not exceed the container's width
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border-radius: 12px;


  }



  .blink-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem; // Adjust the top margin as needed
  
    .link-section, .creator-section {
      display: flex;
      align-items: center;
  
      // Adjust spacing between icons and text
      .icon {
        
        color: grey;
       
      }
  
      .blink-title {
        margin-left: 0.25rem;
        color: grey
      }

      .creator-identity  {
        margin-left: 0.25rem;
        color: grey;
        display: flex;
        align-items: center;
      }
    }
  
    // Responsive adjustments for smaller screens
    @media (max-width: 600px) { // Adjust breakpoint as necessary
      flex-direction: column;
      align-items: flex-start;
  
      .link-section, .creator-section {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  

  .account-widget {
    float: left;
    margin-bottom: 10px;
    
  }



  .action-group-style {
    display: flex;
    flex-direction: column;
    // we want the siblings of the buttons to be on the same row
    justify-content: space-around; /* This will space out buttons evenly */
    align-items: center;
    margin-top: auto;    // background: #c2c2c2;
    width: 100%;
    list-style: none;
    justify-items: center;



    

    ul {
      display: flex;
      width: 100%; /* Ensures the ul takes up the entire width of its container */
      justify-content: space-around; /* This will space out buttons evenly */
      padding: 0; /* Removes default padding */
      list-style: none; /* Removes bullet points */
  }

    li {
      flex-grow: 1; /* Distributes space evenly amongst list items */
      display: flex; /* Aligns the button properly within the list item */
      justify-content: center; /* Centers the button within the list item */
      align-items: center; /* Centers the button vertically within the list item */

    }



    button {
      padding: 7px 12px; // Padding inside the button
      margin: 5px; // Remove margin
      border-radius: 10px; // Rounded corners on the right side only
      color: white;
      border: none;
      cursor: pointer;
      font-weight: bold;

     

    }
  }
}


.fixed-wrapper {
  // we want the buttons in this wrapper to be on the same row if possible
  display: flex;
  justify-content: center;
  
}


.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px; // Space between multiple inputs if any
    width: 100%; // Full width

    input {
        padding: 8px 50px 8px 8px; // Right padding to make space for the button
        margin: 0; // Remove margin for alignment
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 100%;
        font-weight: normal;
    }

    button {
      position: absolute;
      right: 1px; // Positioned right inside the input
      top: 1px; // Align top
      bottom: 1px; // Align bottom to stretch the button height to input's height
      padding: 0 12px; // Padding inside the button
      margin: 0; // Remove margin
      border-radius: 0 17px 17px 0; // Rounded corners on the right side only
      background: #000000 !important;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
          background: darken(#007bff, 10%);
      }
  }

    
}

  .inputAmountButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background: #000000;
  }
  button {
    opacity: 1;
    &:disabled {
      opacity: 0.5;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;

    li button {
      margin-top: 10px;
    }
  }
}



.argInfo {
  font-weight: 400 !important;
  color: rgb(116, 116, 116);
  font-size: 12px;
}



.ant-dropdown-button .ant-btn-compact-first-item {
  border-radius: 10px 0px 0px 10px !important; /* Rounded corners */
}

.ant-dropdown-button .ant-btn-compact-last-item {
  border-radius: 0px 10px 10px 0px !important; /* Rounded corners */
}

.custom-select {
  width: 300px;
}

.account-info {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  align-items: center !important;
padding: 0px !important;
  margin: 0px !important;
  align-self: center;
}

.ant-btn .ant-btn:ant-btn-compact-first-item {
  border-radius: 25px !important; /* Rounded corners */
  max-width: 100px !important;
}
.ant-space-compact-block {
  max-width: 150px !important;
}
.ant-tooltip-open {
  background: white;
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding: 10px !important;

  .label-style {
    // stay left
    text-align: left !important;
  }
  

  .action-button  {
    width: 100%; 
    margin: 10px; 
    padding: 10px; 
    justify-items: center;
    align-items: center;
    cursor: pointer;
    background: #222222 ;


      &:hover {
        background: darken(#222222, 10%); // Darken on hover
    }

  }

  .action-input {
    padding: 10px;
    border-radius: 7px;
    margin: 10px;
    width: 100%;
    border: 1px solid #ccc;
  }


  .action-field-label {
    margin:0px;
    padding:0px;

  }

  .action-field-input {
    padding: 10px;
    border-radius: 7px;
   
    width: 100%;
    border: 1px solid #ccc;
  }
  
}

.action-field-wrapper {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 100%;
  border: 1px dashed #ccc;
  margin-top: 10px;
  border-radius: 7px;

  padding: 15px !important;
}

.generate-button-description {
  font-size: 12px;
  color: rgb(137, 137, 137);
  margin-top: 10px;
  font-weight: 300 !important;
}

.generate-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0px;
  outline: 0px;
  border-radius: 8px !important;
  padding: 16px 16px !important; 

  span {
    display: block; /* Makes the span a block element to fill height */
    line-height: normal; /* Adjust this value as needed */
  }

}

.generate-button-icon {
  align-self: center;
}

.ant-btn {
  display: flex !important;
  border-radius: 8px !important;
  align-items: center;
  justify-content: center;
}

.modal-text {
  font-size: 14px;
  color: rgb(102, 102, 102);
  margin-top: 10px;
  font-weight: 300 !important;
}

.blink-url-container {
  font-size: 12px;
  color: rgb(255, 255, 255) !important;
  margin-top: 10px;
  font-weight: 300 !important;
  background: rgb(66, 66, 66);
  padding: 10px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  

}

.ant-modal-footer {
  display: flex;
  justify-content: right;}

.ant-modal-content, .ant-modal-header {
  border-radius: 10px !important;
}

.generate-button:hover {
  background-color: #40a9ff;
}


.url-loading {
  display: flex;
  align-items: center;
  height: 100%;
  border: 1px solid #d8d8d8;
  padding: 10px;
  border-radius: 7px;
}

.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0px;
  outline: 0px;
  background: none !important;
  border: none !important;
}

.blink-url {
  color: white
}




.connect-message {
  font-size: 12px;
  color: rgb(113, 113, 113);
  font-weight: 400 !important;
  align-items: center;
}


.miniAppMenu {
  // flex items-center justify-center bg-black w-20 border rounded
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  width: 75px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  
}

.blinkBuilderHeader {
  background: rgb(255, 255, 255);
}