@import '../../../variables.scss';

.sidebar {
  width: 50px; 
  height: 100%;
  overflow: hidden;
  background-color: var(--bg);
  min-height: 1000px;


  &.expanded {
    width: 150px; 

  }
}

.sidebar-content {
  width: 100%; /* Full-width */
  // transition: width 2s ease;
  transition: width 0.5s ease;

}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
  width: 100%;
  background-color: var(--bg);
  position: relative; /* Ensure content doesn't move the icons */
  height: 40px; /* Adjust as needed */

  &:hover {
    background-color: var(--hover-bg); /* Change to your desired hover background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow on hover */
    cursor: pointer; /* Change cursor to pointer to indicate clickable items */
  }
}



.sidebar-item a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
  display: flex;
  align-items: center;
}

.sidebar-items {
  position: fixed;  
  top: 100px;
  // height: 100%;
  // transition: width 0.5s ease;

  padding: 5px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}

.sidebar-text {
  display: flex;
  align-items: center;
  opacity: 0;
  color: rgb(43, 43, 43);
  // transition: opacity 0.5s ease;
  margin-left: 10px;
  white-space: nowrap; /* Prevent text from wrapping */
}

.sidebar.expanded .sidebar-text {
  opacity: 1;
}

.sidebar-icon {
  min-width: 30px; /* Adjust as needed */
  flex-shrink: 0; /* Prevent the icon from shrinking */
}

.bagpipe-logo {
  margin-left: 8px;
  margin-top: 20px;
  margin-bottom: 8px;
  height: 30px !important;
  width: 30px !important;
}

.sidebar-icon {
  height: 20px; 
  width: 20px;
}