@import '../../../../variables.scss';

  // .nodeBody {
  //     box-shadow: 0 14px 9px rgba(118, 118, 118, 0.1), 10px 10px 10px rgba(0, 0, 0, 0.08);
  //   }

  .react-flow__node-webhook {
    background-color: var(--node-bg);
    border-radius:1000px !important;
    font-family: $primary-font, sans-serif;
    font-size: xx-small;

    &:hover {
        box-shadow: 8px 8px 10px 5px var(--box-shadow-color) !important;
    }
  }

  .decision-prompt {
    position: absolute;
    top: -150px;
    left: -100px;
   
    border-radius: 50%;
    background-color: rgb(23, 226, 16);
    z-index: 11; 
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.467);
  }