@import "../../variables";


.react-flow__renderer {
  height: 100%;
}

  


  .react-flow__node-chain {
    background-color: var(--button-bg) !important;
    color: var(--node-color) !important;
    color: #333;
    border-radius: 12px !important;
    font-family: $primary-font, sans-serif;
    font-size: x-small;

    width:fit-content !important;
    height:fit-content !important;
    box-shadow: 8px 8px 10px 5px var(--box-shadow-color) !important;


  }

  .react-flow__node-action {
    // background-color: #ffffff00 !important;
    border-color:var(--border-color);
    color: var(--node-color) !important;
    border-radius: 12px !important;
    font-family: $primary-font, sans-serif;
    font-size: x-small;
    width:fit-content !important;
    height:fit-content !important;
    box-shadow: 8px 8px 10px 5px var(--box-shadow-color) !important;


  }

  .react-flow__node  {
    // outline: 1px solid rgba(188, 188, 188, 0.212) !important;
    background-color: var(--node-bg);
    color: var(--node-color) !important;
    box-shadow: 10px 20px 10px 10px var(--box-shadow-color) !important;
    font-family: $primary-font, sans-serif;
    /* border: 3px solid black !important; */
    outline: 15px solid transparent; /* Transparent outline by default */
    transition: outline 0.5s ease, box-shadow 0.3s ease; /* Adjust the duration (0.3s) and timing function (ease) as needed */


  }
  .react-flow__node.selected  {
    outline: 20px solid rgba(1, 179, 24, 0.203) !important;
    border-radius: 12px !important;
  
    /* border: 3px solid black !important; */
  }

  .react-flow__node.selected  {
    outline: 20px solid rgba(1, 179, 24, 0.203) !important;
    border-radius: 12px !important;
  
    /* border: 3px solid black !important; */
  }

  .react-flow__node:target {
    outline: 3px solid rgba(20, 255, 51, 0.535)  !important;
    /* border: 3px solid black !important; */
  }

  .react-flow__node:hover, .react-flow__node-chain:hover {
    outline: 15px solid rgba(198, 213, 38, 0.418) !important;
  }

  .react-flow__node-webhook.selected,.react-flow__node-websocket.selected, .react-flow__node-router.selected, .react-flow__node-api.selected,  .react-flow__node-http.selected,  .react-flow__node-code.selected, .react-flow__node-schedule.selected, .react-flow__node-discord.selected, .react-flow__node-openAi.selected, .react-flow__node-chatGpt.selected, .react-flow__node-telegram.selected, .react-flow__node-slack.selected, .react-flow__node-twitter.selected, .react-flow__node-github.selected, .react-flow__node-google.selected, .react-flow__node-chainQuery.selected, .react-flow__node-chainTx.selected {
    outline: 20px solid rgba(1, 179, 24, 0.203) !important;
    border-radius: 50px !important;
  }

  .react-flow__node-chain.selected, .react-flow__node-action.selected {
    outline: 20px solid rgba(1, 179, 24, 0.203) !important;

  }

  .react-flow__handle {
    position: absolute;
    pointer-events: none;
    min-width: 5px;
    min-height: 5px;
    width: 8px !important;
    height: 8px !important;
    background: rgb(189, 196, 204) !important;
    border: 1px solid black !important;
    /* color: black; */
    border-radius: 14px;
    margin-left: -5px;
    margin-right: -5px
}

.react-flow__handle-right {
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
}

.react-flow__handle.connectionindicator {
  cursor: crosshair;
  pointer-events: all;
}


  .tippy-arrow {
    color: rgb(255, 255, 255) !important;
  }
  .tippy-arrow::before {
    background: rgba(255, 255, 255, 0) !important;
  }

  /* .tippy-box[data-theme~='light'] .tippy-arrow {
    border-bottom-color: green;
    box-shadow: 0px 2px 15px rgba(black) !important;
    color: white;

} */

  .node-title {
    font-size: 8px !important;
    color: rgb(112, 112, 112);
  }

  .node-title-circle {
    margin-bottom: -10px !important;
  }

  .node-name:hover {
    text-decoration: underline !important;
  }

  .node-name {
    font-size: 14px !important;
  }

  .tippy-content {
    color: black !important;
background: rgba(255, 0, 0, 0) !important;
  }
  
  .tippy-content.form.input:focus-visible .tippy-content.form.input {
    border: 2px solid rgb(133, 133, 255) !important;
  }

  .context-menu-area {
    height: 100% !important;
  }

  div[data-tippy-root] {
background-color: white !important;
  }

  .node-input {
    color: var(--node-input-title);
  }

  .node-form-input {
    color: var(--node-input-title);
  }

  .form-selection {
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid rgb(200, 200, 200);
    padding: 10px 10px 20px 10px;
    border-radius: 10px;


    h3 {
      margin-bottom: 10px;
      color: black;
      font-size: 12px;
      font-weight: 600;
    }
  }

  .update-text {
    color: white;
  }

  .custom-node {
    background-color: var(--node-bg) !important;
    border-radius: 12px !important;
    color: var(--node-color) !important;
    // min-width: 200px !important;
    width: 100%;
    height: 100%;
    // overflow-wrap: break-word;
    padding: 5px;
    box-shadow: 8px 8px 8px 2px var(--box-shadow-color) !important;
    
    /* ...any other necessary styles... */

    &:hover {
      box-shadow: 10px 10px 10px 10px var(--box-shadow-color) !important;
    }
  } 

  .action-node {
    background-color: var(--node-bg) !important;
    border-radius: 12px !important;
    color: var(--node-color) !important;
    min-width: 200px !important;
    width: 100%;
    height: 100%;
    // overflow-wrap: break-word;
    padding: 5px 10px 5px 10px;
    box-shadow: 8px 8px 8px 2px var(--box-shadow-color) !important;
    
    /* ...any other necessary styles... */

    &:hover {
      box-shadow: 10px 10px 10px 10px var(--box-shadow-color) !important;
    }
  } 
  
  @keyframes cursor-blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .cursor {
    animation: cursor-blink 1s infinite;
  }

  @keyframes typing {
    from { width: 0; }
  }
  
  .typing-effect {
    width: 100%;
    height: auto; 
    width: 100% !important;
    white-space: pre-wrap; 
    overflow: hidden;
    animation: typing 2s steps(25, end);
    font-size: 8px
  }

  .loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .primary-font {
    font: $primary-font, sans-serif;
  }

  .text-xxs {
    font-size: 9px;
  }

  .chain-logo {
    border-radius: 100px !important;
  }

  .dropdown {
    color: rgb(17 24 39) !important;
  }

  .in-node-border {
    border: 1px solid var(--border-color) !important;
    border-radius: 4px !important;
    // background: var(--node-bg);
  }

  .whole-number {
    color: var(--color);
  }

  .background {
    background: var(--bg);  
  }
  .hovering:hover {
    background: var(--bg-hover) !important;
  }

  .action-type {
    border-radius: 7px !important;
    min-width: 100px !important;
    padding: 8px;
  
  }

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .node-spinner {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
