@import "../../variables";

.react-flow__node-openAi.selectable, .react-flow__node-openAi.selectable:focus {
    border: 3px solid #ffffff !important;
    box-shadow: -7px 15px 10px 3px #7c7c7c18 !important;
  }
  
  .react-flow__node-openAi {
    background-color: #ffffff !important;
    border-color: #e2e2e2;
    color: #333;
    border-radius :10px !important;
    font-family: $primary-font, sans-serif;
    font-size: xx-small;
    min-width:200px !important;
  }

  .react-flow__node-chain {
    background-color: #ffffff !important;
    border-color: #e2e2e2;
    color: #333;
    border-radius: 12px !important;
    font-family: $primary-font, sans-serif;
    font-size: x-small;
    width:fit-content !important;
    height:fit-content !important;

  }

  .react-flow__node-action {
    background-color: #ffffff !important;
    border-color: #e2e2e2;
    color: #333;
    border-radius: 8px !important;
    font-family: $primary-font, sans-serif;
    font-size: x-small;
    width:fit-content !important;
    height:fit-content !important;

  }

  .react-flow__node  {
    outline: 1px solid rgba(195, 195, 195, 0.535) !important;
    border-radius: 12px !important;
    background: white;
    box-shadow: 8px 8px 10px 5px #bdbdbd44 !important;
    font-family: $primary-font, sans-serif;
    /* border: 3px solid black !important; */
  }
  .react-flow__node.selected  {
    outline: 2px solid rgba(20, 255, 51, 0.535) !important;
    border-radius: 12px !important;

    /* border: 3px solid black !important; */
  }

  .react-flow__node:focus  {
    outline: 2px solid rgba(20, 255, 51, 0.535) !important;
    border-radius: 12px !important;

    /* border: 3px solid black !important; */
  }


  // .react-flow__node  {
  //   border-radius: 10px !important;
  //   padding: 8px !important;
  //   /* border: 3px solid black !important; */
  // }

  .react-flow__node:target {
    outline: 3px solid rgba(20, 255, 51, 0.535)  !important;
    /* border: 3px solid black !important; */
  }

  .react-flow__node:hover {
    // outline: 3px solid rgba(255, 141, 251, 0.535) !important;
    /* border: 3px solid black !important; */
    box-shadow: 10px 10px 10px 10px #bdbdbd44 !important;
  }

  .react-flow__handle {
    position: absolute;
    pointer-events: none;
    min-width: 5px;
    min-height: 5px;
    width: 8px !important;
    height: 8px !important;
    background: #000000 !important;
    border: 1px solid black !important;
    /* color: black; */
    border-radius: 100%;
    margin-left: -5px;
    margin-right: -5px
}


/* .react-flow__edge-.selected {
  outline: 3px solid rgba(20, 255, 51, 0.535) !important;
  border: 3px solid rgba(20, 255, 51, 0.535) !important;

} */

  
  /* .react-flow__node-openAi:hover {
    outline: 2px solid rgba(185, 185, 185, 0.627) !important;
  }
   */
  /* .react-flow__node-openAi.selected {
    outline: 3px solid rgba(21, 206, 0, 0.356) !important;
  } */

  /* .react-flow__node:focus {
    outline: 1px solid #ffb219 !important;
    box-shadow: -7px 15px 10px 3px #7c7c7c18 !important;
  } */
  
  /* .react-flow__handle-right {
    right: -4px !important;
    top: 90% !important;
    transform: translate(0, -50%) !important;
    height: 10px !important;
    width: 6px !important;
    border-radius: 1px !important;
  } */ 

  /* .react-flow__handle-left {
    right: -4px !important;
    top: 10% !important;
    transform: translate(0, -50%) !important;
    height: 6px !important;
    width: 6px !important;
    border-radius: 20px !important;
    border: 2px solid white;
    background: black;
  }  */

  /* .tippy-custom {
    color: black !important;
    font-size: 12px !important
  } */

  /* .tippy-box {
    background: white !important;
    border-radius: 7px !important;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.334) !important;
    color: black !important;
  } */

  .tippy-arrow {
    color: rgb(255, 255, 255) !important;
  }
  .tippy-arrow::before {
    background: rgba(255, 255, 255, 0) !important;
  }

  /* .tippy-box[data-theme~='light'] .tippy-arrow {
    border-bottom-color: green;
    box-shadow: 0px 2px 15px rgba(black) !important;
    color: white;

} */

  .node-title {
    font-size: 8px !important;
    color: rgb(112, 112, 112);
  }

  .node-name:hover {
    text-decoration: underline !important;
  }

  .node-name {
    font-size: 14px !important;
  }

  .tippy-content {
    color: black !important;
  }
  
  .tippy-content.form.input:focus-visible .tippy-content.form.input {
    border: 2px solid rgb(133, 133, 255) !important;
  }

  .context-menu-area {
    height: 100% !important;
  }

  div[data-tippy-root] {
background-color: white !important;
  }


  .update-text {
    color: white;
  }

  .custom-node {
    width: 100%;
    height: 100%;
    // overflow-wrap: break-word;
    padding: 5px;
    
    /* ...any other necessary styles... */
  }
  
  @keyframes cursor-blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .cursor {
    animation: cursor-blink 1s infinite;
  }

  @keyframes typing {
    from { width: 0; }
  }
  
  .typing-effect {
    width: 100%;
    height: auto; 
    width: 100% !important;
    white-space: pre-wrap; 
    overflow: hidden;
    animation: typing 2s steps(25, end);
    font-size: 8px
  }

  .loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .primary-font {
    font: $primary-font, sans-serif;
  }

  .text-xxs {
    font-size: 9px;
  }

  .chain-logo-container {
  }

  .chain-logo {
    border-radius: 100px !important;
  }