@import './variables.scss';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@keyframes oscillate {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px);
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--button-bg);
  }
}

.sidebar {
  background-color: var(--no-bg) !important;
  z-index: 300 !important;
}

.bagpipe {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 1000vh !important; 
}

.reactflowcomponent {
  width: 70%;
  overflow: auto;
}

/* .openainodeform {
  width: 30%;
  overflow: auto;
} */

.bagpipe aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.bagpipe aside .description {
  margin-bottom: 10px;
  min-width:5rem !important;
}

.bagpipe .dndnode {
  background-color: var(--button-bg) !important;
  height: 20px !important;
  padding: 20px;
  border: 1px solid #250303;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  color: var(--button-color) !important;
}

.new-scenario {
    height: 20px !important;
  padding: 20px;
  border: 1px solid #250303;
  border-radius: 8px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
  z-index: 100 !important;


}

.bagpipe .dndnode.input {
  border-color: #0041d0;
}

.bagpipe .dndnode.output {
  border-color: #ff0072;
}

.bagpipe {
  flex-grow: 1;
  height: 100% !important;
}

.reactflow-wrapper {
    flex-grow: 1;
    height: 90vh !important;
   /* min-height: 94vh !important;
    */
    overflow:hidden !important;
}
.react-flow__pane {
    overflow: hidden !important;
   /* height:100vh !important;
    */
}

.bagpipe .selectall {
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .bagpipe {
    flex-direction: row;
  }

  .bagpipe aside {
    width: 20%;
    max-width: 175px;
  }
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.modal-style {
  max-width: 200px !important;
}

.react-flow__edge-path {
    stroke: #252525;
    stroke-width: 3 !important;
}


.temp .react-flow__edge-path {
  stroke: #bbb !important;
  stroke-dasharray: 5 5 !important;
}

.open-ai-handle {
  background-color: red !important;
}

.flex-container {
  display: flex;
}

.output-1 {
position: relative !important;
}
.output-2 {
  position: relative !important;
}
.output-3 {
  position: relative !important;
}

.form-heading {
  font-weight: 500;
  margin-bottom: 10px;
  font-family:  Poppins, DM Sans, Figtree, Muli, Avenir, Mulish, Inter, Arial, Helvetica, sans-serif;
}

.main-font {
  font-family:  Söhne,ui-sans-serif,system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica Neue,Arial,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji, Poppins, DM Sans, Figtree, Muli, Avenir, Mulish, Inter, Arial, Helvetica, sans-serif !important;
}


.input-node {
  cursor: pointer !important;
  background: white !important;
}

.input-node:hover {
border: 1px solid rgb(184, 184, 184);
}

.input-node:focus-visible .input-node:active .input-node:target {
  border: 3px solid rgba(252, 158, 58, 0.528) !important;
  }

  .bagpipes {
    content: " ";
   /* overflow: scroll !important;
    */
    width: 100% !important;
    height: auto !important;
    overflow: hidden !important;
}

.bagpipe-flow-canvass {
  height: 100% !important;
  content: " ";
  overflow: scroll !important;
}

.react-flow__background {
  height: 100% !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid var(--controls-color);
  border-radius: 50%;
  border-top: 4px solid var(--controls-color); 
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.small-spinner {
  border: 1px solid var(--controls-color);
  border-radius: 100%;
  border-top: 1px solid rgb(65, 65, 255); 
  width: 8px;
  height: 8px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.react-flow {
  height: 93% !important;
  position: absolute !important;
  top: 75px;
  bottom: 0px;
  left: 0px;
}

.node-notifications {
  background-color: var(--toast-bg) !important;
  padding: 5px;
  color: var(--color) !important;
}

.bagpipes {
    /* flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 1000vh !important; */
}

.main-container {
    display: flex;
    height: 100vh;
    width: 100%;
  }
  
  .main-content {
    flex-grow: 1; /* Takes up the available space */
    width: 100%; /* Ensures it fills the container */
  }