@import "variables";

.button {
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  
    &:active {
      background-color: darken($primary-color, 20%);
    }
  }


  .table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
  }