@import '../../../../variables.scss';

.popup-form {
    font-size:12px !important;
    min-width: 250px;
}

.popup-form-buttons {
    font-size: 10px;
    padding: 5px 8px;
    border-radius: 5px;

    &:hover {
        border: 1px solid rgb(99, 99, 99);
    }
}

.popup-form-submit {
background: blue;
color:white;
margin-right: 0px;

&:hover {
    background: rgb(69, 69, 255);
    color:white;
    border: 1px solid rgba(99, 99, 99, 0);

}
}

.popup-form-cancel {
    border: 1px solid rgb(200, 200, 200); 
    margin-right: 5px;
    margin-left: 5px;

}

.popup-form-create {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px; 
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12px !important;

}



.webhook-container {
    display: flex;
    align-items: center; // Align items vertically
    justify-content: flex-start; // Align items to the start of the container
    border: 1px solid rgb(200, 200, 200);
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;

    .webhook-selector {

        min-width: 100px;
        font-size: 12px;
        margin-left: 10px; // Adjust as needed
        margin-right: 10px; // Adjust as needed
    
    
        .ant-select-selector {
            border: none !important;
            width: 150px !important;
          }
        
          .ant-select-dropdown {
          }
    
        /* Specific styles for the dropdown menu */
    
    }
    
  
    .popup-form-create {
      margin-left: auto; // Pushes the button to the right
    }


  }
  
  .description {
    margin-top: 10px !important;
    font-size: 12px;
    color: rgb(138, 138, 138);
    // Styles for your description
  }


  .action-selector {

    min-width: 100px;
    font-size: 12px;
    margin-left: 10px; // Adjust as needed
    margin-right: 10px; // Adjust as needed


    .ant-select-selector {
        border: none !important;
        width: 150px !important;
      }
    
      .ant-select-dropdown {
      }

    /* Specific styles for the dropdown menu */

}

.webhook-url {
    background: rgb(234, 234, 234) !important;
    color:rgb(41, 41, 255) !important;
    width: 100%;
    padding: 0.4em;
    border-radius: 5px; 
    font-size: 10px;
    border-style: dotted;
    border: dotted 1px rgb(171, 171, 171);
    text-align: left !important;
    cursor: pointer;

    &:focus {
        border: dotted 1px rgb(99, 99, 99);
    }

    &:active {
        border: dotted 1px rgb(99, 99, 99);
    }
}

.copy-button {
    margin-left: 7px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    background: rgb(234, 234, 234);
    color: rgb(41, 41, 255);
    cursor: pointer;
    

    &:hover {
        border: 1px solid rgb(99, 99, 99);
    }
}


.http-form {
    overflow: scroll;
    max-height: 700px;
    min-width: 300px;
}


