.community-page {
  display: grid;
  grid-template-columns: 1fr 300px; /* Main content and aside */
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  margin: 0 auto;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.dark {
    background-color: #2e2e2e;
    color: #ffffff;
  }

  &.light {
    background-color: #f9f9f9;
    color: #000000;
  }

  .community-header {
    display: flex;
    // align-items: center;
    gap: 20px;
    margin-bottom: 40px;

    .community-logo-large {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 2.5rem;
      margin: 0;
      font-weight: 700;
    }



    p {
      margin: 0;
      font-size: 1.2rem;
      color: #666;
    }

    .hashtags {
      margin-top: 10px;


      .hashtag {
        display: inline-block;
        background-color: #e0e0e0;
        color: #333;
        padding: 5px 10px;
        border-radius: 5px;
        margin-right: 5px;
        font-size: 0.9rem;
        margin-top: 5px;
      }
    }
  }

  .community-main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    overflow-y: auto;
    padding-right: 20px;
  }

  .community-aside {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;

    .creator-link {
      text-decoration: none;
      color: inherit;
      transition: color 0.3s ease;
      font-weight: 400;
    }

    h2 {
      font-size: 1.3rem;
      font-weight: 800
    }

    .creators-list {
      list-style: none;
      padding: 0;


 
      
      .creator-box {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
        }

        .creator-image {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        div {
          h3 {
            font-size: 0.9rem;
            margin: 0;
            color: #171717;
          }

          h4 {
            font-size: 0.8rem;
            margin: 0;
            color: #666;
          }

          p {
            font-size: 0.8rem;
            color: #555;
          }
        }
      }
    }
  }

  .community-section {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #dddddd;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      border: 1px solid #dddddd;

    }

    &.dark {
      background-color: #3e3e3e;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &.light {
      background-color: #ffffff;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    h2 {
      font-size: 1.8rem;
      font-weight: 800
    }

    h3 {
      font-size: 1.4rem;
      font-weight: 700
    }
  }

  .box {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    &.dark {
      background-color: #444;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    &.light {
      background-color: #e0e0e0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }

  .template-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .template-group {
    margin-bottom: 20px;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .template-flex {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }

    .template-box {
      @extend .box;
      flex: 1 1 calc(33.333% - 20px);

      strong {
        font-size: 1.2rem;
        margin-bottom: 10px;
        display: block;
        color: #007bff;
      }

      p {
        font-size: 1rem;
        color: #666;
      }

      h4 {
        margin-top: 15px;
        font-size: 1.1rem;
        color: #333;
      }

      ol,
      ul {
        padding-left: 20px;
        margin: 10px 0;

        li {
          font-size: 0.9rem;
          color: #555;
        }

        a {
          color: #007bff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .ui-template-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .howto-box {
    @extend .box;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .howto-image {
      max-width: 100%;
      height: auto;
      margin-top: 10px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    p {
      font-size: 1rem;
      color: #666;
    }
  }

  .features-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .feature-box {
    @extend .box;
    flex: 1 1 calc(33.333% - 20px);

    h3 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    p {
      font-size: 1rem;
      color: #666;
    }
  }
}
